<div class="container">
<div class="mainDiv">
  <div class="homeLink">
    <a  href="./home">Home Page</a><span>  /  Getting Started</span>
  </div>
  <div class="gettingDiv">
    <div  class="imgDiv m-5">
      <img class="gettingIcon" src="assets/icons/cog.svg">
    </div>
    <div class="contentDiv">
      <mat-card-header>
        <mat-card-title style="color: black;margin-left: -16px;">Getting Started (2)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
       Get started fast with installation and theme setup instructions.
        </p>
      </mat-card-content>
    </div>
  </div>
</div>
    <div *ngFor="let item of postsdata">
      <mat-card>
        <mat-card-title (click)="openPost(item)">{{item.title}}</mat-card-title>
        <mat-card-content>
          <div>
          <p class="desClass">{{item.description | slice:0:280}}...<button class="readMore" (click)="openPost(item)">read more</button></p>

          </div>
        </mat-card-content>
        <div class="userDiv">
          <div class="profileDiv">
            <img class="profileImg" src="assets/images/profile.png">
          </div>
          <div>
            <p>Written by <span style="font-weight: 600;">{{item.author}}</span></p>
            <p>{{item.date | date:'MMMM d y'}}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>


