<a  href="./home">Home Page</a>
<div  class="container">
  <mat-card  class="example-card">
    <mat-card-title style="margin:20px 0px;">{{title}}</mat-card-title>
    <div>
      <p style="margin-bottom: 50px;">{{description}}</p>
    </div>
    <mat-card-subtitle><span style="background-color:rgb(104, 53, 207);color:white">{{author}} </span>
      <span style="color: rgb(104, 53, 207);">{{date  | date:'d MMMM y'}}</span> </mat-card-subtitle>
      <div class="tagDiv">
        <p>Tags:</p>
      </div>
  </mat-card>
</div>
